body{
    background-color: rgb(191, 209, 241);
}
/* ul{
    list-style-type: none;
    width: 150px;
    background-color: rgb(181, 173, 239);
    position: fixed;
}
li a{
    display: block;
    color: rgb(0, 0, 0);
    padding: 8px 18px;
    text-decoration: none;
}
li a:hover{
    background-color: rgb(19, 0, 36);
    color: white;
}
.imagen{
    width: 100px;
    height: 100px;
    padding-left: 200px;
    padding-top: 50px;
}
.imagen:hover{
    opacity: 0.2;
} */


/* ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #6dab8d;
    position: sticky;
    top: 0%;
}
li {
    float: left;
}
li a{
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 10px 13px;
}
li a:hover{
    background-color: rgb(3, 68, 3);
    color: #92e4bc;
}
.mouseEncima{
    background-color: rgb(61, 139, 113);
    padding: 16px;
    font-size: 16px;
    border: none;
}

.home{
    position: absolute;
    display: block;
}
.contenido{
    display: none;
    position: absolute;
    background-color: rgb(241, 197, 115);

}
.contenido a{
    color: black;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}
.contenido a:hover{
    background-color: rgb(201, 253, 164);
}
.home:hover .contenido{
    display: block;
} */



.Jotaro{
    width: 265px;
    height: 330px;
    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1080cb77-ab6a-4853-9e46-89810b2218dc/ddvw95b-43311240-3eb9-4ce5-b8ff-b3651e4d5b56.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzEwODBjYjc3LWFiNmEtNDg1My05ZTQ2LTg5ODEwYjIyMThkY1wvZGR2dzk1Yi00MzMxMTI0MC0zZWI5LTRjZTUtYjhmZi1iMzY1MWU0ZDViNTYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.tKylNpBpoqa4FCdO5ZEhL5dBO46pfOCxiwele7CV_48) no-repeat;
    background-position: 0 0;
}
.Dio{
    width: 265px;
    height: 330px;
    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1080cb77-ab6a-4853-9e46-89810b2218dc/ddvw95b-43311240-3eb9-4ce5-b8ff-b3651e4d5b56.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzEwODBjYjc3LWFiNmEtNDg1My05ZTQ2LTg5ODEwYjIyMThkY1wvZGR2dzk1Yi00MzMxMTI0MC0zZWI5LTRjZTUtYjhmZi1iMzY1MWU0ZDViNTYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.tKylNpBpoqa4FCdO5ZEhL5dBO46pfOCxiwele7CV_48) no-repeat;
    background-position: -100 0;
}