body {
  background-color: rgb(1, 95, 92);
}
.tarjeta {
  width: 300px;/*anchura*/
  height: 400px;/*para tener el largo del cuadrado/rectangulo*/
  background-color: rgb(207, 157, 211);/*color del fondo*/
  padding: 20px;/*para que el texto no este muy arriba*/
  text-align: center;/*para centrar texto*/
  margin: 0 auto;/*para centrar caja*/
  outline: 3px;
  box-sizing: border-box;/*para hacelo como caja y que no afecte el tamaño total de la  tarjeta*/
}
.tarjeta2 {
  width: 250px;/*anchura*/
  height: 350px;/*para tener el largo del cuadrado/rectangulo*/
  background-color: rgb(168, 193, 241);/*color del fondo*/
  padding: 20px;/*para que el texto no este muy arriba*/
  text-align: center;/*para centrar texto*/
  margin: 0 auto;/*para centrar caja*/
  outline: 2px;
  box-sizing: border-box;/*para hacelo como caja y que no afecte el tamaño total de la  tarjeta*/
}