*{
    background-color: lightblue;
}
.titulo{
    text-align: center;
    text-decoration: underline;
    background: linear-gradient(to right, blue, purple) ;
    color: white;
    border-radius: 30px;
}
.FORM{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
}
.NOMBRE{
    display: flex;
    justify-content: center;
}
.EMAIL{
    display: flex;
    justify-content: center;
}
.GENERO{
    display: flex;
    justify-content: center;
}
.ENVIAR{
    background-color: rgb(181, 255, 255);
}
.NOMBRE > input:hover{
    background-color: rgb(133, 202, 225);
}
.EMAIL > input:hover{
    background-color: rgb(133, 202, 225);
}
.GENERO > input:hover{
    background-color: rgb(133, 202, 225);
}
.ENVIAR:hover{
    background-color: rgb(88, 243, 243);
}
#genero{
    background-color: rgb(181, 255, 255);
}